/* INÍCIO CODIFICAR BOTÕES */
#candidatar
{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 35px;
    width: 200px;
    border-radius: 20px;
    font-weight: bold;
}
#salvar
{
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 0.5px;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
}
/* FIM CODIFICAR BOTÕES */

/* INÍCIO TELATRES */
#informacoes
{
    color: rgb(64, 177, 124);
    font-weight: bold;
}
/* FIM TELATRES */